/* Default style file to use for Ruff output */


/* The CSS reset below is from Eric Meyer */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display: block;
}
body{
	line-height: 1; 
}
ol, ul{
	list-style: none;
}
blockquote, q{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}

/* Ruff! formatting */
body{
  margin:    1em;
  font:  14px Arial,sans-serif;
}
h1{
  background-color: #006666;
  color: #ffffff;
  font-family: "Times New Roman", serif;
  font-size: 138.5%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2{
  color: #006666;
  font-family: "Times New Roman", serif;
  font-size: 123.1%;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h3, h4{
  border-bottom: thin solid #006666;
  color: #006666;
  font-size: 108%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h5, h6{
  color: #006666;
  font-weight: bold;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.5em;
}

p{
  margin-bottom: 1em;
  font-family: Verdana;
}

blockquote{
  background: #eeeeee;
  border: thin solid #cccccc;
  font-size: smaller;
  margin: 1em;
  padding: 5px;
}

blockquote p{
  margin: 0px;
}

ul,ol,dl{
  margin:1em;
  margin-left: 2em;
}
ol li{
  list-style:decimal outside;
}
ul li{
  list-style:disc outside;
}
dl dd{
  margin-left:1em;
}
dt, dd{
  font-size: 93%;
}

table{
  margin: 1em;
  border: thin solid;
  border-collapse: collapse;
  border-color: #808080;
  padding: 4;
}
td{
  border: thin solid;
  border-color: #808080;
  font-size: 93%;
  padding: .5em;
  vertical-align: top;
}
th{
  background-color: #CCCCCC;
  border: thin solid;
  border-color: #808080;
  font-weight:bold;
  padding: 4px;
  text-align:center;
}

caption{
  margin-bottom:.5em;text-align:center;
}

pre{
  background: #eeeeee;
  /* border: thin solid #cccccc; */
  font-family: "Courier New", monospace;
  /* font-size: smaller; */
  margin: 1em;
  padding: 5px;
}

em{
  font-style: italic;
}

code{
  font-family: monospace;
}


